<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="left">
    <!-- start: Main Menu -->
    <div class="sidebar ">

        <div class="sidebar-collapse">
            <div class="sidebar-header t-center">
                <span><img class="text-logo" src="/assets/img/logo1.png"><i class="fa fa-space-shuttle fa-3x blue"></i></span>
            </div>
            <div class="sidebar-menu">
                <ul class="nav nav-sidebar">
                    <li><a href="/student/index"><i class="fa fa-laptop"></i><span class="text">主页</span></a></li>
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i><span class="text">课程库</span> <span class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/student/course"><i class="fa fa-sitemap"></i><span class="text">全部课程</span></a></li>
                            <li><a href="/student/course_hierarchy"><i class="fa fa-code-fork"></i><span class="text">知识体系</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-list-alt"></i><span class="text">在线考核</span> <span class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/student/exam"><i class="fa fa-indent"></i><span class="text">开始考核</span></a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-briefcase"></i><span class="text">成绩管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/student/score"><i class="fa fa-align-left"></i><span class="text">成绩单</span></a></li>
                            <li><a href="/student/scorepic"><i class="fa fa-outdent"></i><span class="text">成绩统计</span></a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-bolt"></i><span class="text">个人信息管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/student/info"><i class="fa fa-user"></i><span class="text">编辑个人信息</span></a></li>
                            <li><a href="/student/info"><i class="fa fa-sun-o"></i><span class="text">修改密码</span></a></li>
                        </ul>
                    </li>
                    <li><a href="table.html"><i class="fa fa-table"></i><span class="text">消息管理</span></a></li>
                    <li><a href="gallery.html"><i class="fa fa-rss"></i><span class="text">意见反馈</span></a></li>
                    <!--<li><a href="calendar.html"><i class="fa fa-calendar"></i><span class="text"> Calendar</span></a></li>-->
                </ul>
            </div>
        </div>
        <div class="sidebar-footer">

            <div class="sidebar-brand">
                保密教育在线培训考试系统
            </div>

            <ul class="sidebar-terms">
                <li><a href="index.html#">Terms</a></li>
                <li><a href="index.html#">Privacy</a></li>
                <li><a href="index.html#">Help</a></li>
                <li><a href="index.html#">About</a></li>
            </ul>

            <div class="copyright text-center">
                <small>Proton <i class="fa fa-coffee"></i> from <a href="" title="" target="_blank">wyy</a></small>
            </div>
        </div>

    </div>
    <!-- end: Main Menu -->
</div>