<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>保密教育在线培训考核系统</title>

    <!--JS文件-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>-->
    <script src="/js/Chart.js"></script>

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/favicon.ico" type="image/x-icon" />

    <!-- Css files -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/jquery.mmenu.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet">
    <link href="/assets/css/add-ons.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
    <script th:inline="javascript">
        var data = {
            labels : ["0"],
            datasets : [
                {
                    label: /*[[${session.name}]]*/null,
                    backgroundColor: "rgba(220,87,18,1)",
                    borderColor: "rgba(244,208,0,1)",
                    data : [0]
                }
            ]
        }

        var result=/*[[${scoreJson}]]*/"hello";
        var scorelist=JSON.parse(result);
        scorelist.forEach(function(each, index, arr){
            data.datasets[0].data.push(each.score);
            data.labels.push(each.ename);
        });

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: '成绩统计'
                    }
                }
            });
        };

        // alert(data.datasets[0].data);
        // data.datasets[0].data.push(90);
        // alert(data.datasets[0].data);

    </script>

</head>

<body>
<div th:include="student/top :: top">
</div>

<div class="container-fluid content">

    <div class="row">

        <div th:include="student/left :: left">
        </div>

        <!-- start: Content -->
        <div class="main ">

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-outdent"></i>成绩单</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="/student/index">主页</a></li>
                        <li><i class="fa fa-briefcase"></i><a href="#">成绩管理</a></li>
                        <li><i class="fa fa-outdent"></i>成绩统计</li>
                    </ol>
                </div>
            </div>

            <div th:include="student/top4 :: top4">
            </div>

            <canvas id="canvas" width="400" height="200"></canvas>



        </div>
         <!--end: Content -->
        <br><br><br>

    </div><!--/container-->


</div>

<div class="clearfix"></div>


<!-- start: JavaScript-->
<!--[if !IE]>-->

<script src="/assets/js/jquery-2.1.1.min.js"></script>

<!--<![endif]-->

<!--[if IE]>

<script src="/assets/js/jquery-1.11.1.min.js"></script>

<![endif]-->

<!--[if !IE]>-->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.1.1.min.js'>"+"<"+"/script>");
</script>

<!--<![endif]-->

<!--[if IE]>

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.11.1.min.js'>"+"<"+"/script>");
</script>

<![endif]-->
<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>


<!-- page scripts -->
<script src="/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
<script src="/assets/js/jquery.easy-pie-chart.min.js"></script>

<!-- theme scripts -->
<script src="/assets/js/SmoothScroll.js"></script>
<script src="/assets/js/jquery.mmenu.min.js"></script>
<script src="/assets/js/core.min.js"></script>

<!-- inline scripts related to this page -->
<script src="/assets/js/pages/page-profile.js"></script>

<!-- end: JavaScript-->

</body>
</html>