
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="end">

    <!-- start: JavaScript-->
    <!--[if !IE]>-->

    <script src="/assets/js/jquery-2.1.1.min.js"></script>

    <!--<![endif]-->

    <!--[if IE]>

    <script src="/assets/js/jquery-1.11.1.min.js"></script>

    <![endif]-->

    <!--[if !IE]>-->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery-2.1.1.min.js'>"+"<"+"/script>");
    </script>

    <!--<![endif]-->

    <!--[if IE]>

    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery-1.11.1.min.js'>"+"<"+"/script>");
    </script>

    <![endif]-->
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>


    <!-- page scripts -->
    <script src="assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
    <script src="http://localhost:8888/bootstrap/originAdmin/assets/js/jquery.easy-pie-chart.min.js"></script>

    <!-- theme scripts -->
    <script src="/assets/js/SmoothScroll.js"></script>
    <script src="/assets/js/jquery.mmenu.min.js"></script>
    <script src="/assets/js/core.min.js"></script>

    <!-- inline scripts related to this page -->
    <script src="/assets/js/pages/page-profile.js"></script>

    <!-- end: JavaScript-->



</div>

