<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="admin/head :: head"></div>

</head>

<body>
<div th:include="admin/top :: top"></div>


<div class="container-fluid content">


        <div th:include="admin/left :: left"></div>

        <!-- start: Content -->
        <div class="main">

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header" th:text="'欢迎您，'+${session.name}"><i class="fa fa-laptop"></i></h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i>主页</li>
                        <li><i class="fa fa-laptop"></i>管理端</li>
                    </ol>
                </div>
            </div>

            <div th:include="admin/top4 :: top4">
            </div>

            <div class="row" >
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2><i class="fa fa-table red"></i><span class="break"></span><strong>近期考试</strong></h2>
                            </div>
                            <div class="panel-body">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>考试编号</th>
                                        <th>考试名称</th>
                                        <th>主管教师</th>
                                        <th>考试时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="each : ${examEmploeeList}">
                                        <td th:text="${each.id}"></td>
                                        <td th:text="${each.ename}"></td>
                                        <td th:text="${each.name}"></td>
                                        <td th:text="${each.date}"></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div hidden="hidden">
                <div class="col-lg-9 col-md-12">

                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <i class="fa fa-refresh red"></i><h2><strong>在线人数分布</strong></h2>

                            <div class="panel-actions">
                                <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                                <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                                <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>

                        <div class="panel-body">
                            </br/>
                            <div id="realtime-update" style="height:200px;color:#484848;"></div>
                        </div>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-12">
                    <div class="panel panel-default">
                        <div class="table.html white-bg">
                            </br/>
                            <div class="graph-container text-center">
                                <div id="hero-donut" class="graph" style="height:236px;"></div>
                            </div>
                        </div>
                    </div>
                </div><!--/.col-->

            </div><!--/.row-->

            <div class="row">

                <div class="col-lg-6 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><i class="fa fa-table red"></i><span class="break"></span><strong>新增课程</strong></h2>
                        </div>
                        <div class="panel-body">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>课程编号</th>
                                    <th>课程名称</th>
                                    <th>讲师</th>
                                    <th>发布日期</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="each : ${emploee_courseList}">
                                    <td th:text="${each.id}"></td>
                                    <td th:text="${each.cname}"></td>
                                    <td th:text="${each.tname}"></td>
                                    <td th:text="${each.date}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>




                <div class="col-lg-3 col-md-6" hidden="hidden">

                    <div class="panel panel-default">

                        <div class="panel-body text-center" style="height:230px">
                            <h2 class="lime">售出课程</h2>
                            <div style="width:300px;left:50%;position:absolute;margin-left:-150px;">
                                <canvas id="gauge1"></canvas>
                            </div>
                            <span class="pull-left"><strong class="blue">$256.256,25</strong></span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-o-up text-success"></i> 52%</span>
                        </div>

                    </div>

                </div><!--/.col-->

                <div class="col-lg-3 col-md-6" hidden="hidden">

                    <div class="panel panel-default">

                        <div class="panel-body text-center" style="height:230px">
                            <h2 class="lime">课程好评率</h2>
                            <div style="width:300px;left:50%;position:absolute;margin-left:-150px;">
                                <canvas id="gauge2"></canvas>
                            </div>
                            <span class="pull-left"><strong class="blue"></strong></span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-o-up text-success"></i> 70%</span>
                        </div>

                    </div>

                </div><!--/.col-->
            </div><!--/row-->

            <div class="row" hidden="hidden">

                <div class="col-sm-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><i class="fa fa-bar-chart-o red"></i><strong>统计表</strong></h2>
                            <div class="panel-actions">
                                <a href="charts-xcharts.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                                <a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                                <a href="charts-xcharts.html#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <figure class="demo" id="chart" style="height: 300px"></figure>
                        </div>
                    </div>

                </div><!--/col-->

            </div><!--/row-->
                    <div class="row">

                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2><i class="fa fa-life-bouy red"></i><strong>消息通知</strong></h2>
                                </div>
                                <div class="panel-body no-padding">
                                    <ul class="comments-list">
                                        <li th:each="each : ${inform_emploeeList}">
                                            <a href="widgets.html#">
                                                <img class="avatar" alt="Lucas" th:src="${each.pic}">
                                            </a>
                                            <div>
                                                <strong th:text="${each.name}"></strong><p th:text="${each.topic}"></p>
                                            </div>
                                            <div class="date" th:text="${each.date}"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div><!--/row-->
                </div>
        </div>
        <!-- end: Content -->
        <br><br><br>



    </div><!--/container-->


    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Warning Title</h4>
                </div>
                <div class="modal-body">
                    <p>Here settings can be configured...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="clearfix"></div>


    <!-- start: JavaScript-->
    <!--[if !IE]>-->

    <script src="/assets/js/jquery-2.1.1.min.js"></script>

    <!--<![endif]-->

    <!--[if IE]>

    <script src="/assets/js/jquery-1.11.1.min.js"></script>

    <![endif]-->

    <!--[if !IE]>-->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery-2.1.1.min.js'>"+"<"+"/script>");
    </script>

    <!--<![endif]-->

    <!--[if IE]>

    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery-1.11.1.min.js'>"+"<"+"/script>");
    </script>

    <![endif]-->
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>


    <!-- page scripts -->
    <script src="/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
    <script src="/assets/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/plugins/moment/moment.min.js"></script>
    <script src="/assets/plugins/fullcalendar/js/fullcalendar.min.js"></script>
    <!--[if lte IE 8]>
    <script language="javascript" type="text/javascript" src="/assets/plugins/excanvas/excanvas.min.js"></script>
    <![endif]-->
    <script src="/assets/plugins/flot/jquery.flot.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.stack.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.spline.min.js"></script>
    <script src="/assets/plugins/xcharts/js/xcharts.min.js"></script>
    <script src="/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script src="/assets/plugins/placeholder/jquery.placeholder.min.js"></script>
    <script src="/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/assets/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
    <script src="/assets/plugins/raphael/raphael.min.js"></script>
    <script src="/assets/plugins/morris/js/morris.min.js"></script>
    <script src="/assets/plugins/jvectormap/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/assets/plugins/jvectormap/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/assets/plugins/jvectormap/js/gdp-data.js"></script>
    <script src="/assets/plugins/gauge/gauge.min.js"></script>


    <!-- theme scripts -->
    <script src="/assets/js/SmoothScroll.js"></script>
    <script src="/assets/js/jquery.mmenu.min.js"></script>
    <script src="/assets/js/core.min.js"></script>
    <script src="/assets/plugins/d3/d3.min.js"></script>

    <!-- inline scripts related to this page -->
    <script src="/assets/js/pages/index.js"></script>


    <!-- end: JavaScript-->

</body>
</html>