
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    <title>保密教育培训考核系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">保密教育在线培训考核系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登出</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="course"><span class="glyphicon glyphicon-book" ></span>  人员管理</a></li>
                <li><a href="exam"><span class="glyphicon glyphicon-pencil" ></span>  课程管理</a></li>
                <li><a href="score"><span class="glyphicon glyphicon-folder-open" ></span>  成绩查询</a></li>
                <li><a href="info"><span class="glyphicon glyphicon-user" ></span>  个人信息维护</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">学生</h1>
            <td><a th:href="'/admin/goaddstudent'" ><button type="button" class="btn btn-success">增加</button></a></td>
            <form th:action="@{/admin/selectstudent}" method="post" onsubmit="return check(this);">
                <input type="text" name="sid" placeholder="请输入账号" /><br>
                <input type="submit" value="查询" class="button">
            </form>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>密码</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="admin : ${a}">
                        <td th:text="${admin.id}">null</td>
                        <td th:text="${admin.name}">null</td>
                        <td th:text="${admin.password}">null</td>
                        <td><a th:href="'/admin/student/delete/' + ${admin.id}" >删除</a></td>
                        <td><a th:href="'/admin/gostudent?id='+${admin.id}" ><button type="button" class="btn btn-success">更改</button></a></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
