<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    <title>保密教育培训考核系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">保密教育在线培训考核系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登出</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="question"><span class="glyphicon glyphicon-book" ></span>  更改管理员</a></li>
            </ul>
        </div>
        <div class="col-sm-7 col-sm-offset-3 col-md-7 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">更改用户</h3>
                </div>
                <div class="panel-body">
                    <!--添加课程最重要的步骤：封装成Source对象，传入数据库，正好把数据契合到数据库上-->
                    <!--@{/teacher/addSource}是寻找对应Source的路径-->
                    <form th:action="@{/admin/course/updatecourse}" method="post" onsubmit="return check(this);" enctype="multipart/form-data">
                        <input type="text" name="id" th:value="${course.id}" placeholder="课程编号" readonly  /><br>
                        <input type="text" name="cname" th:value="${course.cname}" placeholder="课程名称" /><br>
                        <select name = "tid" th: selected = "${emploee.name}">
                            <div th:each="each : ${emploeeList}" >
                                <option  th:value="${each.id}"  th:text="${each.name}"></option>
                            </div>
                        </select><br>
                        <input type="text" name="cdetail" th:value="${course.cdetail}" placeholder="课程简介"><br>
                        <input type="text" name="cintroduce" th:value="${course.cintroduce}" placeholder="详细描述" /><br>
                        <!--<label for="date">发布时间</label><input type="date" class="form-control" id="date" name="data"-->
                                                              <!--th:field="*{date}" value="${cdate}"/>-->
                        <label for="date">开课日期：</label><input id="date" type="date" name="date"  th:value="${course.date}"/><br>
                        <input type="text" name="ctype" th:value="${course.ctype}" placeholder="课程类型"><br>
                        <input type="text" name="cdirect" th:value="${course.cdirect}" placeholder="课程方向"><br>
                        <input type="text" name="cpic" th:value="${course.cpic}" placeholder="课程封面"><br>
                        <input type="file" name="fileupload" placeholder="图片"><br>
                        <input type="text" name="cpoint" th:value="${course.cpoint}" placeholder="讲师提示"><br>
                        <!--<input th:value="${emploee.id}" name="id" hidden readonly />-->

                        <td><a th:href="'/admin/course/delete/?id='+${course.id}" methods="post" ><button type="button" class="btn btn-success">删除</button></a></td>

                        <input type="submit" value="更改" class="button">
                        <!--<input type="button" name="Submit" value="删除" th:href="'/admin/emploee/delete?id='+${emploee.id}"/>-->
                        <!--<p th:text="${sign}"></p>-->
                        <!--<a href="./showLessons/0">返回</a>-->
                    </form>


                    <!--<td><a th:href="'/admin/emploee/delete/?id='+${emploee.id}"  ><button type="button" class="btn btn-success">删除</button></a></td>-->
                </div>


            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
