
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="left">

    <!-- start: Main Menu -->
    <div class="sidebar ">

        <div class="sidebar-collapse">
            <div class="sidebar-header t-center">
                <span><img class="text-logo" src="/assets/img/logo1.png"><i class="fa fa-space-shuttle fa-3x blue"></i></span>
            </div>
            <div class="sidebar-menu" th:fragment="left">
                <ul class="nav nav-sidebar">
                    <li><a href="/admin/index"><i class="fa fa-laptop"></i><span class="text">主页</span></a></li>
                    <li>
                        <a href="#"><i class="fa fa-group"></i><span class="text">人员管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/admin/student"><i class="fa fa-user"></i><span class="text">学生</span></a></li>
                            <li><a href="/admin/teacher"><i class="fa fa-user"></i><span class="text">老师</span></a></li>
                            <li><a href="/admin/addemploee"><i class="fa fa-user"></i><span class="text">新增人员</span></a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i><span class="text">课程管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/admin/allcourse"><i class="fa fa-indent"></i><span class="text">已有课程</span></a></li>
                            <li><a href="/admin/addcourse"><i class="fa fa-tags"></i><span class="text">新增课程</span></a></li>
                            <li><a href="/admin/course/directtype"><i class="fa fa-tags"></i><span class="text">课程方向、类别管理</span></a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-list-alt"></i><span class="text">考试管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/admin/exam/allexam"><i class="fa fa-random"></i><span class="text">考试安排</span></a></li>
                            <li><a href="chart-xchart.html"><i class="fa fa-retweet"></i><span class="text">题库管理</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-briefcase"></i><span class="text">报表统计</span> <span class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="chart-flot.html"><i class="fa fa-retweet"></i><span class="text">人员统计</span></a></li>
                            <li><a href="chart-xchart.html"><i class="fa fa-retweet"></i><span class="text">成绩统计</span></a></li>
                            <li><a href="chart-xchart.html"><i class="fa fa-retweet"></i><span class="text">课程统计</span></a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-table"></i><span class="text">通知公告</span> <span class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/admin/notice/preaddnotice"><i class="fa fa-random"></i><span class="text">新增公告</span></a></li>
                            <li><a href="/admin/notice/allnotice"><i class="fa fa-retweet"></i><span class="text">公告管理</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-laptop"></i><span class="text">前台管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/admin/homepage/showpic"><i class="fa fa-rss"></i><span class="text">主页图片</span></a></li>
                            <li><a href="/admin/homepage/showCourse"><i class="fa fa-retweet"></i><span class="text">课程展示</span></a></li>
                            <li><a href="/admin/homepage/showEmploee"><i class="fa fa-retweet"></i><span class="text">教师展示</span></a></li>

                        </ul>
                    </li>



                    <li>
                        <a href="#"><i class="fa fa-bolt"></i><span class="text">个人信息管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/admin/info/Detailinfo"><i class="fa fa-user"></i><span class="text">编辑个人信息</span></a></li>
                            <li><a href="/admin/info/password"><i class="fa fa-sun-o"></i><span class="text">修改密码</span></a></li>
                        </ul>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sun-o"></i><span class="text">系统管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/admin/backup/showbackup"><i class="fa refresh"></i><span class="text">备份数据库</span></a></li>
                            <li><a href="/admin/backup/showRestore"><i class="fa shield"></i><span class="text">还原数据库</span></a></li>
                        </ul>
                    </li>

                    <li><a href="/admin/feedback/allFeedback"><i class="fa fa-rss"></i><span class="text">意见反馈</span></a></li>
                </ul>
            </div>
        </div>
        <div class="sidebar-footer">

            <div class="sidebar-brand">
                保密教育在线培训考试系统
            </div>

            <ul class="sidebar-terms">
                <li><a href="index.html#">Terms</a></li>
                <li><a href="index.html#">Privacy</a></li>
                <li><a href="index.html#">Help</a></li>
                <li><a href="index.html#">About</a></li>
            </ul>

            <div class="copyright text-center">
                <small>Proton <i class="fa fa-coffee"></i> from <a href="" title="" target="_blank">wyy</a></small>
            </div>
        </div>

    </div>
    <!-- end: Main Menu -->

</div>

