<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    <title>保密教育培训考核系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">


    <!--script功能很强大，可以做很多事-->
    <!--<script type="text/javascript" src="file.js"></script>-->
    <!--<script type="text/javascript">-->
    <!--function showPath(obj) {-->
    <!--var fileInfo = getPath(obj);-->
    <!--if(fileInfo)-->
    <!--{-->
    <!--alert(fileInfo.path + ":" + fileInfo.size);-->
    <!--}-->
    <!--}-->
    <!--</script>-->

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">保密教育在线培训考核系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登出</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="question"><span class="glyphicon glyphicon-book" ></span>  课程管理</a></li>
            </ul>
        </div>
        <div class="col-sm-7 col-sm-offset-3 col-md-7 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">添加新的章节</h3>
                </div>
                <div class="panel-body">
                    <!--添加课程最重要的步骤：封装成Source对象，传入数据库，正好把数据契合到数据库上-->
                    <!--@{/teacher/addSource}是寻找对应Source的路径-->
                    <!--<form th:action="@{/teacher/addSource}" method="post" enctype="multipart/form-data" onsubmit="return check(this);">-->
                    <form th:action="@{/teacher/addLesson}" method="post" id="addSource" enctype="multipart/form-data"  onsubmit="return check(this);">
                        <!--我想让这个cid直接等于添加课程界面的course.id的值，即最好直接给他设置默认为课程名-->
                        <input type="text" name="cid" th:value="${source_cid}" placeholder="课程编号" readonly hidden /><br>
                        <!--需要手动添加的-->
                        <input type="number" name="lesson" placeholder="新添加的章节号"><br>
                        <!--value的类型不是随便用的，如果没有特殊原因，用正常的value-->
                        <input type="number" name="type" value=0 placeholder="资源类型" readonly hidden><br>
                        <!--需要手动添加的-->
                        <input type="text" name="topic" placeholder="章节名称" /><br>
                        <input type="text" name="detail" placeholder="资源内容" value="" readonly hidden /><br>
                        <!--只能上传文件，不能上传名字-->
                        <!--<input type="file" name="detail" placeholder="上传文件"><br>-->
                        <!--只能上传表单不能上传文件-->
                        <!--<input type="file" name="detail" placeholder="课程题目" onchange="showPath(this)"><br>-->
                        <!--<input type="file" name="detail" placeholder="上传文件"><br>-->
                        <!--用来上传文件并把文件所在服务器上的URL存到Source.detail上-->
                        <!--<form th:action="@{/file/upload}" method="POST" enctype="multipart/form-data">-->
                        <!--<p><input type="file" name="detail" placeholder="请上传文件"></p>-->
                        <!--<p><input type="submit" value="上传" class="button"></p>-->
                        <!--</form>-->
                        <!--文件下载-->
                        <!--<form th:action="@{/file/download}" method="POST" enctype="multipart/form-data">-->
                        <!--<p><input type="file" name="detail" placeholder="下载文件"></p>-->
                        <!--<p><input type="submit" value="下载" class="button"></p>-->
                        <!--</form>-->
                        <!--<input type="text" name="detail" placeholder="上传内容" /><br>-->
                        <!--下拉栏-->
                        <!--<select name="teacherId" th:each="teacher: ${teachers}">-->
                        <!--<option th:value="${teacher.id}"><p th:text="${teacher.name}">`</p></option>-->
                        <!--</select><br>-->
                        <input type="submit" value="添加" class="button" onclick="judgeUpload()">
                        <p th:text="${sign}"></p>
                        <!--<a href="./showLessons/0">返回</a>-->
                    </form>
                    <!--<form th:action="@{/up/upload}" method="POST" enctype="multipart/form-data">-->
                    <!--<p><input type="file" name="test"/></p>-->
                    <!--<p><input type="submit" value="上传" class="button"></p>-->
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
