<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>保密教育在线培训考核系统</title>


    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/favicon.ico" type="image/x-icon" />

    <!-- Css files -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/jquery.mmenu.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/climacons-font.css" rel="stylesheet">
    <link href="/assets/plugins/xcharts/css/xcharts.min.css" rel=" stylesheet">
    <link href="/assets/plugins/fullcalendar/css/fullcalendar.css" rel="stylesheet">
    <link href="/assets/plugins/morris/css/morris.css" rel="stylesheet">
    <link href="/assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link href="/assets/plugins/jvectormap/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet">
    <link href="/assets/css/add-ons.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
</head>

<body>

<div th:include="teacher/top :: top">
</div>

<div class="container-fluid content">

    <div class="row">


        <div th:include="teacher/left :: left">
        </div>

        <!-- start: Content -->
        <div class="main">

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header" th:text="'欢迎您，'+${session.name}+'老师'"><i class="fa fa-laptop"></i> </h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="#">主页</a></li>
                        <li><i class="fa fa-laptop"></i>教师端</li>
                    </ol>
                </div>
            </div>

            <div th:include="teacher/top4 :: top4">
            </div>


            <div class="row" hidden="hidden">

                <div class="col-lg-9 col-md-12">

                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <i class="fa fa-refresh red"></i><h2><strong>在线人数分布</strong></h2>
                        </div>

                        <div class="panel-body">
                            </br/>
                            <div id="realtime-update" style="height:200px;color:#484848;"></div>
                        </div>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body white-bg">
                            </br/>
                            <div class="graph-container text-center">
                                <div id="hero-donut" class="graph" style="height:236px;"></div>
                            </div>
                        </div>
                    </div>
                </div><!--/.col-->

            </div><!--/.row-->

            <div class="row">

                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><i class="fa fa-table red"></i><span class="break"></span><strong>课程（近五门）</strong></h2>
                        </div>
                        <div class="panel-body">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>课程名称</th>
                                    <th>课程描述</th>
                                    <th>详细介绍</th>
                                    <th>任课教师</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="each : ${courseList}">
                                <td th:text="${each.cname}"></td>
                                <td th:text="${each.cdetail}"></td>
                                <td th:text="${each.cintroduce}"></td>
                                <td th:text="${each.tname}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


            </div><!--/row-->

            <div class="row" hidden="hidden">

                <div class="col-sm-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><i class="fa fa-bar-chart-o red"></i><strong>统计表</strong></h2>
                            <div class="panel-actions">
                                <a href="charts-xcharts.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                                <a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                                <a href="charts-xcharts.html#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <figure class="demo" id="chart" style="height: 300px"></figure>
                        </div>
                    </div>

                </div><!--/col-->

            </div><!--/row-->



        </div>
        <!-- end: Content -->
        <br><br><br>


    </div><!--/container-->

</div>


    <!-- start: JavaScript-->
    <!--[if !IE]>-->

    <script src="/assets/js/jquery-2.1.1.min.js"></script>

    <!--<![endif]-->

    <!--[if IE]>

    <script src="/assets/js/jquery-1.11.1.min.js"></script>

    <![endif]-->

    <!--[if !IE]>-->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery-2.1.1.min.js'>"+"<"+"/script>");
    </script>

    <!--<![endif]-->

    <!--[if IE]>

    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery-1.11.1.min.js'>"+"<"+"/script>");
    </script>

    <![endif]-->
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>


    <!-- page scripts -->
    <script src="/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
    <script src="/assets/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/plugins/moment/moment.min.js"></script>
    <script src="/assets/plugins/fullcalendar/js/fullcalendar.min.js"></script>
    <!--[if lte IE 8]>
    <script language="javascript" type="text/javascript" src="/assets/plugins/excanvas/excanvas.min.js"></script>
    <![endif]-->
    <script src="/assets/plugins/flot/jquery.flot.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.stack.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.spline.min.js"></script>
    <script src="/assets/plugins/xcharts/js/xcharts.min.js"></script>
    <script src="/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script src="/assets/plugins/placeholder/jquery.placeholder.min.js"></script>
    <script src="/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/assets/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
    <script src="/assets/plugins/raphael/raphael.min.js"></script>
    <script src="/assets/plugins/morris/js/morris.min.js"></script>
    <script src="/assets/plugins/jvectormap/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/assets/plugins/jvectormap/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/assets/plugins/jvectormap/js/gdp-data.js"></script>
    <script src="/assets/plugins/gauge/gauge.min.js"></script>


    <!-- theme scripts -->
    <script src="/assets/js/SmoothScroll.js"></script>
    <script src="/assets/js/jquery.mmenu.min.js"></script>
    <script src="/assets/js/core.min.js"></script>
    <script src="/assets/plugins/d3/d3.min.js"></script>

    <!-- inline scripts related to this page -->
    <script src="/assets/js/pages/index.js"></script>

    <!-- end: JavaScript-->

</body>
</html>