<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    <title>保密教育培训考核系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Untitled</title>
    <script>
        function fun() {
            obj = document.getElementsByName("test");
            check_val = [];
            for (k in obj) {
                if (obj[k].checked)
                    check_val.push(obj[k].value);
            }
            alert(check_val);
        }
    </script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">保密教育在线培训考核系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登出</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="question"><span class="glyphicon glyphicon-book"></span> 题库管理</a></li>
                <li><a href="source"><span class="glyphicon glyphicon-pencil"></span> 课程管理</a></li>
                <li class="active"><a href="paper"><span class="glyphicon glyphicon-folder-open"></span> 试卷管理</a></li>
                <li><a href="analysis"><span class="glyphicon glyphicon-user"></span> 成绩管理</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">手动组卷</h1>
            <div class="table-responsive">
                <table class="table table-striped" type="checkbox">
                    <thead>
                    <tr>
                        <th>组卷</th>
                        <th>编号</th>
                        <th>题目描述</th>
                        <th>题目答案</th>
                        <th>题目难度</th>
                    </tr>
                    <!--<form role="form" method="POST" th:action="@{/teacher/set_paper}" th:object="${questions}">-->
                    <!--<tr th:each="each : ${questionsList}">-->

                    <!--<td><label for="id"></label><input type="checkbox" class="form-control"-->
                    <!--id="id"-->
                    <!--th:value="${each.id}"/>-->
                    <!--</td>-->
                    <!--<td th:text="${each.id}"></td>-->
                    <!--<td th:text="${each.desc}">null</td>-->
                    <!--<td th:text="${each.answer}">null</td>-->
                    <!--<td th:text="${each.level}">null</td>-->
                    <!--<button type="submit" class="btn btn-default">Sign in</button>-->
                    <!--</form>-->
                    <tbody>
                    <tr th:each="each : ${questionsList}">
                        <td><input type="checkbox" value="${each.id}" name="test"/>
                        </td>
                        <td th:text="${each.id}"></td>
                        <td th:text="${each.desc}">null</td>
                        <td th:text="${each.answer}">null</td>
                        <td th:text="${each.level}">null</td>
                        <div>
                            <span style="position:absolute; right:60px; bottom:0px;">
                                 <!--<a class="btn btn-lg btn-primary" th:href="'/student/course_detail?id='+${cid}+'&lesson='+${lesson+1}" role="button">进入下一讲</a>-->
                                <a href="/teacher/set_paper">
                                    <button type="button" class="btn btn-success" onclick="fun()">组卷</button></a>
                                        </span>
                            </button>

                            </span>
                        </div>
                    </tr>
                    </tbody>
                    </thead>

                </table>

            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
