<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    <title>保密教育培训考核系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Untitled</title>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">保密教育在线培训考核系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登出</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="question"><span class="glyphicon glyphicon-book"></span> 题库管理</a></li>
                <li><a href="source"><span class="glyphicon glyphicon-pencil"></span> 课程管理</a></li>
                <li class="active"><a href="paper"><span class="glyphicon glyphicon-folder-open"></span> 试卷管理</a></li>
                <li><a href="analysis"><span class="glyphicon glyphicon-user"></span> 成绩管理</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">考试信息设置</h1>
            <div class="table-responsive">
                <table class="table table-striped" type="checkbox">
                    <thead>
                    <form action="/example/html5/demo_form.asp" method="get">
                        考试时间: <input type="datetime-local" name="user_date"/>
                    </form>
                    <span style="position:absolute; left: 30px; bottom:10px;">
                        <select>
                        <option value="volvo">考试科目</option>
                        <option value="saab">数据库</option>
                        <option value="opel">java</option>
                        <option value="audi">数据结构</option>
                    </select>
                           </span>
                    <span style="position:absolute; right:60px; bottom:0px;">
                            <button type="button" class="btn btn-success">组卷</button>
                           </span>


            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
