<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>保密教育在线培训考核系统</title>

    <!-- Import google fonts - Heading first/ text second -->
    <link rel='stylesheet' type='text/css'
          href='http://fonts.useso.com/css?family=Open+Sans:400,700|Droid+Sans:400,700'/>
    <!--[if lt IE 9]>
    <link href="http://fonts.useso.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.useso.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.useso.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.useso.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css"/>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico" type="image/x-icon"/>

    <!-- Css files -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/jquery.mmenu.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/climacons-font.css" rel="stylesheet">
    <link href="/assets/plugins/xcharts/css/xcharts.min.css" rel=" stylesheet">
    <link href="/assets/plugins/fullcalendar/css/fullcalendar.css" rel="stylesheet">
    <link href="/assets/plugins/morris/css/morris.css" rel="stylesheet">
    <link href="/assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link href="/assets/plugins/jvectormap/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet">
    <link href="/assets/css/add-ons.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        <!--点击提交,出现提示框-->
        function judgeUpload() {
            document.getElementById('addSource').submit();
//            尝试把java类引入html
            var flag = JavaClassProto
            if (flag == true)
                alert("--------7--------");
//            else alert("--------9-------")
        }
    </script>
</head>
</head>

<body>
<div th:include="teacher/TeacherTop :: top">
</div>

<div class="container-fluid content">

    <div class="row">

        <div th:include="teacher/TeacherLeft :: left">
        </div>

        <!-- start: Content -->
        <div class="main">

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i> 欢迎您，老师</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="index.html">主页</a></li>
                        <li><i class="fa fa-laptop"></i>教师端</li>
                    </ol>
                </div>
            </div>


            <div th:include="teacher/top4 :: top4">
            </div>
            <div>


                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><i class="fa fa-table red"></i><span class="break"></span><strong>课程</strong></h2>
                            <div class="panel-actions">
                                <a href="#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                                <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-condensed table-hover">
                                <table class="table table-striped" type="checkbox">
                                    <thead>
                                    <tr>
                                        <th>所属课程编号</th>
                                        <th>资源标题</th>
                                        <th>路径</th>
                                        <th>资源类型</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--在前端也可以使用判断语句-->
                                    <tr>
                                        <!--显示章节号-->
                                        <td th:text="${source.cid}">null</td>
                                        <td th:text="${source.topic}">null</td>
                                        <td th:text="${source.detail}">null</td>
                                        <td th:text="${source.type}">null</td>
                                        <!--<td><a th:href="'/teacher/lesson_detail_list?id='+${each.id}+'&lesson='+${each.lesson}"><button type="button" class="btn btn-success">章内详细内容</button></a></td>-->
                                        <!--<td><a th:href="'/teacher/delete_lesson_source?id='+${each.id}+'&lesson='+${each.lesson}"><button type="button" class="btn btn-success">删除章节</button></a></td>-->
                                        <!--<td><a th:href="'/teacher/delete_lesson_source?id='+${each.id}&lesson=+${each.lesson}'"><button type="button" class="btn btn-success">删除章节</button></a></td>-->
                                    </tr>
                                    </tbody>
                                    <span style="position:absolute; right:60px; bottom:0px;">
                        <a th:href="set_paper">
                            <button type="button" class="btn btn-success">组卷</button>
                        </a>
                           </span>
                                </table>

                                <ul class="pagination">
                                    <li><a href="#">上一页</a></li>
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">下一页</a></li>
                                </ul>
                            </table>
                        </div>
                    </div>
                </div><!--/col-->

            </div>

        </div><!--/container-->


        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Warning Title</h4>
                    </div>
                    <div class="modal-body">
                        <p>Here settings can be configured...</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="clearfix"></div>


        <!-- start: JavaScript-->
        <!--[if !IE]>-->

        <script src="/assets/js/jquery-2.1.1.min.js"></script>

        <!--<![endif]-->

        <!--[if IE]>

        <script src="/assets/js/jquery-1.11.1.min.js"></script>

        <![endif]-->

        <!--[if !IE]>-->

        <script type="text/javascript">
            window.jQuery || document.write("<script src='assets/js/jquery-2.1.1.min.js'>" + "<" + "/script>");
        </script>

        <!--<![endif]-->

        <!--[if IE]>

        <script type="text/javascript">
            window.jQuery || document.write("<script src='assets/js/jquery-1.11.1.min.js'>" + "<" + "/script>");
        </script>

        <![endif]-->
        <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>


        <!-- page scripts -->
        <script src="/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
        <script src="/assets/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
        <script src="/assets/plugins/moment/moment.min.js"></script>
        <script src="/assets/plugins/fullcalendar/js/fullcalendar.min.js"></script>
        <!--[if lte IE 8]>
        <script language="javascript" type="text/javascript" src="assets/plugins/excanvas/excanvas.min.js"></script>
        <![endif]-->
        <script src="/assets/plugins/flot/jquery.flot.min.js"></script>
        <script src="/assets/plugins/flot/jquery.flot.pie.min.js"></script>
        <script src="/assets/plugins/flot/jquery.flot.stack.min.js"></script>
        <script src="/assets/plugins/flot/jquery.flot.resize.min.js"></script>
        <script src="/assets/plugins/flot/jquery.flot.time.min.js"></script>
        <script src="/assets/plugins/flot/jquery.flot.spline.min.js"></script>
        <script src="/assets/plugins/xcharts/js/xcharts.min.js"></script>
        <script src="/assets/plugins/autosize/jquery.autosize.min.js"></script>
        <script src="/assets/plugins/placeholder/jquery.placeholder.min.js"></script>
        <script src="/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
        <script src="/assets/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
        <script src="/assets/plugins/raphael/raphael.min.js"></script>
        <script src="/assets/plugins/morris/js/morris.min.js"></script>
        <script src="/assets/plugins/jvectormap/js/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/assets/plugins/jvectormap/js/jquery-jvectormap-world-mill-en.js"></script>
        <script src="/assets/plugins/jvectormap/js/gdp-data.js"></script>
        <script src="/assets/plugins/gauge/gauge.min.js"></script>


        <!-- theme scripts -->
        <script src="/assets/js/SmoothScroll.js"></script>
        <script src="/assets/js/jquery.mmenu.min.js"></script>
        <script src="/assets/js/core.min.js"></script>
        <script src="/assets/plugins/d3/d3.min.js"></script>

        <!-- inline scripts related to this page -->
        <script src="/assets/js/pages/index.js"></script>

        <!-- end: JavaScript-->
    </div>
</div>
F
</body>
</html>