<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="left">
    <!-- start: Main Menu -->
    <div class="sidebar ">

        <div class="sidebar-collapse">
            <div class="sidebar-header t-center">
                    <span><img class="text-logo" src="assets/img/logo1.png"><i
                            class="fa fa-space-shuttle fa-3x blue"></i></span>
            </div>
            <div class="sidebar-menu">
                <ul class="nav nav-sidebar">
                    <li><a href="/teacher/info"><i class="fa fa-laptop"></i><span class="text">主页</span></a></li>
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i><span class="text">题库管理</span> <span
                                class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/teacher/showAllQuestionList"><i class="fa fa-car"></i><span class="text">查看题库</span></a>
                            </li>
                            <li><a href="/teacher/add_new_lesson"><i class="fa fa-envelope"></i><span class="text">增加习题</span></a></li>
                            <!--<li><a href="page-invoice.html"><i class="fa fa-credit-card"></i><span class="text"></span></a></li>						-->
                            <!--<li><a href="page-profile.html"><i class="fa fa-heart-o"></i><span class="text"> Profile</span></a></li>-->
                            <!--<li><a href="page-pricing-tables.html"><i class="fa fa-columns"></i><span class="text"> Pricing Tables</span></a></li>-->
                            <!--<li><a href="page-404.html"><i class="fa fa-puzzle-piece"></i><span class="text"> 404</span></a></li>-->
                            <!--<li><a href="page-500.html"><i class="fa fa-puzzle-piece"></i><span class="text"> 500</span></a></li>-->
                            <!--<li><a href="page-lockscreen.html"><i class="fa fa-lock"></i><span class="text"> LockScreen1</span></a></li>-->
                            <!--<li><a href="page-lockscreen2.html"><i class="fa fa-lock"></i><span class="text"> LockScreen2</span></a></li>-->
                            <!--<li><a href="page-login.html"><i class="fa fa-key"></i><span class="text"> Login Page</span></a></li>-->
                            <!--<li><a href="page-register.html"><i class="fa fa-sign-in"></i><span class="text"> Register Page</span></a></li>-->
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-list-alt"></i><span class="text">课程管理</span> <span
                                class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/teacher/source_list?id=1"><i class="fa fa-indent"></i><span
                                    class="text">查看课程</span></a></li>
                            <li><a href="/teacher/add_lesson_page"><i class="fa fa-tags"></i><span
                                    class="text">增加课程</span></a></li>
                            <!--<li><a href="form-dropzone.html"><i class="fa fa-plus-square-o"></i><span class="text"> Dropzone Upload</span></a></li>-->
                            <!--<li><a href="form-x-editable.html"><i class="fa fa-pencil"></i><span class="text"> X-editable</span></a></li>-->
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-signal"></i><span class="text">试卷管理</span> <span
                                class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/teacher/question_list"><i class="fa fa-random"></i><span
                                    class="text">手动组卷</span></a></li>
                            <li><a href="/teacher/automatic_question"><i class="fa fa-retweet"></i><span
                                    class="text">自动组卷</span></a></li>
                            <li><a href="/teacher/set_paper"><i class="fa fa-bar-chart-o"></i><span
                                    class="text">考试信息设置</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-briefcase"></i><span class="text">成绩管理</span> <span
                                class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/teacher/analysis"><i class="fa fa-align-left"></i><span
                                    class="text">成绩单</span></a>
                            </li>
                            <li><a href="#"><i class="fa fa-outdent"></i><span
                                    class="text">考试统计</span></a>
                            </li>
                            <!--<li><a href="ui-elements.html"><i class="fa fa-list"></i><span class="text"> Elements</span></a></li>-->
                            <!--<li><a href="ui-panels.html"><i class="fa fa-list-alt"></i><span class="text"> Panels</span></a></li>-->
                            <!--<li><a href="ui-buttons.html"><i class="fa fa-th"></i><span class="text"> Buttons</span></a></li>-->
                        </ul>
                    </li>
                    <!--<li><a href="widgets.html"><i class="fa fa-life-bouy"></i><span class="text"> Widgets</span></a></li>-->
                    <!--<li><a href="typography.html"><i class="fa fa-font"></i><span class="text"> Typography</span></a></li>-->
                    <li>
                        <a href="#"><i class="fa fa-bolt"></i><span class="text">个人信息管理</span> <span
                                class="fa fa-angle-down pull-right"></span></a>
                        <ul class="nav sub">
                            <li><a href="/teacher/userinfo"><i class="fa fa-meh-o"></i><span class="text">编辑个人信息</span></a>
                            </li>
                            <li><a href="#"><i class="fa fa-meh-o"></i><span class="text">修改密码</span></a></li>
                        </ul>
                    </li>
                    <li><a href="/teacher/notice"><i class="fa fa-table"></i><span class="text">消息管理</span></a></li>
                    <li><a href="/teacher/feedback"><i class="fa fa-picture-o"></i><span class="text">意见反馈</span></a>
                    </li>
                    <!--<li><a href="calendar.html"><i class="fa fa-calendar"></i><span class="text"> Calendar</span></a></li>-->
                </ul>
            </div>
        </div>
        <div class="sidebar-footer">

            <div class="sidebar-brand">
                保密教育在线培训考试系统
            </div>

            <ul class="sidebar-terms">
                <li><a href="index.html#">Terms</a></li>
                <li><a href="index.html#">Privacy</a></li>
                <li><a href="index.html#">Help</a></li>
                <li><a href="index.html#">About</a></li>
            </ul>

            <div class="copyright text-center">
                <small>Proton <i class="fa fa-coffee"></i> from <a href="" title="" target="_blank">wyy</a></small>
            </div>
        </div>

    </div>
    <!-- end: Main Menu -->
</div>