<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="top4">

    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box red-bg">
                <i class="fa fa-thumbs-o-up"></i>
                <div class="count" th:text="${session.teachertop4.get(0)} ">0</div>
                <div class="title">课程数量</div>
            </div><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box green-bg">
                <i class="fa fa-cubes"></i>
                <div class="count" th:text="${session.teachertop4.get(1)}">0</div>
                <div class="title">题目数量</div>
            </div><!--/.info-box-->
        </div><!--/.col-->


        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box blue-bg">
                <i class="fa fa-cloud-download"></i>
                <div class="count" th:text="${session.teachertop4.get(2)}">0</div>
                <div class="title">试卷数量</div>
            </div><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box magenta-bg">
                <i class="fa fa-shopping-cart"></i>
                <div class="count" th:text="${session.teachertop4.get(3)}">0</div>
                <div class="title">考试数量</div>
            </div><!--/.info-box-->
        </div><!--/.col-->



    </div>
</div>