<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="heu.iot.Dao.CourseMapper">
  <resultMap id="BaseResultMap" type="heu.iot.Model.Course">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="cdetail" jdbcType="VARCHAR" property="cdetail" />
    <result column="cintroduce" jdbcType="VARCHAR" property="cintroduce" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="ctype" jdbcType="VARCHAR" property="ctype" />
    <result column="cdirect" jdbcType="VARCHAR" property="cdirect" />
    <result column="cpic" jdbcType="VARCHAR" property="cpic" />
    <result column="cpoint" jdbcType="VARCHAR" property="cpoint" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cname, cdetail, cintroduce, tid, date, ctype, cdirect, cpic, cpoint
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="heu.iot.Model.Course">
    insert into course (id, cname, cdetail, 
      cintroduce, tid, date, 
      ctype, cdirect, cpic, 
      cpoint)
    values (#{id,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{cdetail,jdbcType=VARCHAR}, 
      #{cintroduce,jdbcType=VARCHAR}, #{tid,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, 
      #{ctype,jdbcType=VARCHAR}, #{cdirect,jdbcType=VARCHAR}, #{cpic,jdbcType=VARCHAR}, 
      #{cpoint,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="heu.iot.Model.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cname != null">
        cname,
      </if>
      <if test="cdetail != null">
        cdetail,
      </if>
      <if test="cintroduce != null">
        cintroduce,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="ctype != null">
        ctype,
      </if>
      <if test="cdirect != null">
        cdirect,
      </if>
      <if test="cpic != null">
        cpic,
      </if>
      <if test="cpoint != null">
        cpoint,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cdetail != null">
        #{cdetail,jdbcType=VARCHAR},
      </if>
      <if test="cintroduce != null">
        #{cintroduce,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null">
        #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="cdirect != null">
        #{cdirect,jdbcType=VARCHAR},
      </if>
      <if test="cpic != null">
        #{cpic,jdbcType=VARCHAR},
      </if>
      <if test="cpoint != null">
        #{cpoint,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="heu.iot.Model.Course">
    update course
    <set>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cdetail != null">
        cdetail = #{cdetail,jdbcType=VARCHAR},
      </if>
      <if test="cintroduce != null">
        cintroduce = #{cintroduce,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null">
        ctype = #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="cdirect != null">
        cdirect = #{cdirect,jdbcType=VARCHAR},
      </if>
      <if test="cpic != null">
        cpic = #{cpic,jdbcType=VARCHAR},
      </if>
      <if test="cpoint != null">
        cpoint = #{cpoint,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="heu.iot.Model.Course">
    update course
    set cname = #{cname,jdbcType=VARCHAR},
      cdetail = #{cdetail,jdbcType=VARCHAR},
      cintroduce = #{cintroduce,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER},
      date = #{date,jdbcType=VARCHAR},
      ctype = #{ctype,jdbcType=VARCHAR},
      cdirect = #{cdirect,jdbcType=VARCHAR},
      cpic = #{cpic,jdbcType=VARCHAR},
      cpoint = #{cpoint,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>