<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="heu.iot.Dao.ExamMapper">
  <resultMap id="BaseResultMap" type="heu.iot.Model.Exam">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tid" jdbcType="VARCHAR" property="tid" />
    <result column="edesc" jdbcType="VARCHAR" property="edesc" />
    <result column="epic" jdbcType="VARCHAR" property="epic" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="etime" jdbcType="VARCHAR" property="etime" />
    <result column="stime" jdbcType="VARCHAR" property="stime" />
  </resultMap>
  <resultMap id="ExamEmploeeMap" type="heu.iot.Model.ExamEmploee">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="date" jdbcType="VARCHAR" property="date" />
  </resultMap>

  <sql id="Base_Column_List">
    id, tid, edesc, epic, ename, date, etime, stime
  </sql>
  <sql id="ExamEmploee_List">
    exam.id,emploee.name,exam.ename,exam.date
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exam
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectExamEmploeeRecent5" resultMap="ExamEmploeeMap">
    select
    <include refid="ExamEmploee_List" />
    from exam,emploee
    where exam.tid=emploee.id order by date desc limit 5
  </select>
  <select id="countExamNum" resultType="java.lang.Integer">
    select
    count(id)
    from exam
  </select>
  <select id="showCurrentExam" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from exam
    where date = #{date,jdbcType=VARCHAR} and  etime> #{time,jdbcType=VARCHAR} and #{time,jdbcType=VARCHAR} >stime
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exam
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="heu.iot.Model.Exam">
    insert into exam (id, tid, edesc, 
      epic, ename, date, 
      etime, stime)
    values (#{id,jdbcType=INTEGER}, #{tid,jdbcType=VARCHAR}, #{edesc,jdbcType=VARCHAR}, 
      #{epic,jdbcType=VARCHAR}, #{ename,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, 
      #{etime,jdbcType=VARCHAR}, #{stime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="heu.iot.Model.Exam">
    insert into exam
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="edesc != null">
        edesc,
      </if>
      <if test="epic != null">
        epic,
      </if>
      <if test="ename != null">
        ename,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="etime != null">
        etime,
      </if>
      <if test="stime != null">
        stime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="edesc != null">
        #{edesc,jdbcType=VARCHAR},
      </if>
      <if test="epic != null">
        #{epic,jdbcType=VARCHAR},
      </if>
      <if test="ename != null">
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        #{etime,jdbcType=VARCHAR},
      </if>
      <if test="stime != null">
        #{stime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="heu.iot.Model.Exam">
    update exam
    <set>
      <if test="tid != null">
        tid = #{tid,jdbcType=VARCHAR},
      </if>
      <if test="edesc != null">
        edesc = #{edesc,jdbcType=VARCHAR},
      </if>
      <if test="epic != null">
        epic = #{epic,jdbcType=VARCHAR},
      </if>
      <if test="ename != null">
        ename = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        etime = #{etime,jdbcType=VARCHAR},
      </if>
      <if test="stime != null">
        stime = #{stime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="heu.iot.Model.Exam">
    update exam
    set tid = #{tid,jdbcType=VARCHAR},
      edesc = #{edesc,jdbcType=VARCHAR},
      epic = #{epic,jdbcType=VARCHAR},
      ename = #{ename,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      etime = #{etime,jdbcType=VARCHAR},
      stime = #{stime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>