<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="heu.iot.Dao.Score_Exam_PaperMapper">
    <resultMap id="BaseResultMap" type="heu.iot.Model.Score_Exam_Paper">
        <id column="id" jdbcType="INTEGER" property="pid" />
        <result column="ename" jdbcType="VARCHAR" property="ename" />
        <result column="score" jdbcType="FLOAT" property="score" />
    </resultMap>
    <resultMap id="ListResultMap" type="heu.iot.Model.Score_Exam_Paper_List">
        <id column="pid" jdbcType="INTEGER" property="pid" />
        <result column="ename" jdbcType="VARCHAR" property="ename" />
        <result column="edesc" jdbcType="VARCHAR" property="edesc" />
        <result column="date" jdbcType="VARCHAR" property="date" />
        <result column="num" jdbcType="NUMERIC" property="num" />
    </resultMap>
    <sql id="Base_Column_List">
        paper.id,exam.ename,score.score
    </sql>
    <sql id="List_Column_List">
        pid,ename,edesc,exam.date
    </sql>
    <select id="showOldExamByTidDate" resultMap="ListResultMap">
        SELECT <include refid="List_Column_List" />,count(*) as num
        from score,paper,exam
        where score.pid=paper.id and paper.eid=exam.id and exam.tid=#{tid,jdbcType=INTEGER} and exam.date &lt; #{date,jdbcType=VARCHAR} group by pid
    </select>
    <select id="showAllOldExamByDate" resultMap="ListResultMap">
        SELECT <include refid="List_Column_List" />,count(*) as num
        from score,paper,exam
        where score.pid=paper.id and paper.eid=exam.id and exam.date &lt; #{date,jdbcType=VARCHAR} group by pid
    </select>
    <select id="showAllExamByStudentId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        from score,paper,exam
        WHERE paper.eid=exam.id and score.pid=paper.id and score.score!=-1 and score.sid=#{id,jdbcType=INTEGER}
    </select>

    <select id="showRecent5" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        from score,paper,exam
        WHERE paper.eid=exam.id and score.pid=paper.id and score.score!=-1 and score.sid=#{id,jdbcType=INTEGER} order by score.id DESC LIMIT 5
    </select>
</mapper>