<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="heu.iot.Dao.SourceMapper">
  <resultMap id="BaseResultMap" type="heu.iot.Model.Source">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="lesson" jdbcType="INTEGER" property="lesson" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="topic" jdbcType="VARCHAR" property="topic" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cid, lesson, type, topic, detail
  </sql>
  <select id="showAllSource" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from source
  </select>
  <select id="selectByCourseLesson" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from source
    where cid = #{id,jdbcType=INTEGER} and lesson = #{lesson,jdbcType=INTEGER}
  </select>
  <select id="selectByCourse" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from source
    where cid = #{cid,jdbcType=INTEGER} and type=0 order by lesson
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from source
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from source
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="heu.iot.Model.Source">
    insert into source (id, cid, lesson, 
      type, topic, detail
      )
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{lesson,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{topic,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="heu.iot.Model.Source">
    insert into source
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="lesson != null">
        lesson,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="topic != null">
        topic,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="lesson != null">
        #{lesson,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="heu.iot.Model.Source">
    update source
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="lesson != null">
        lesson = #{lesson,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="topic != null">
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="heu.iot.Model.Source">
    update source
    set cid = #{cid,jdbcType=INTEGER},
      lesson = #{lesson,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      topic = #{topic,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKeyAndLowKey" parameterType="map">
    delete from source
    where cid = #{id,jdbcType=INTEGER} and lesson = #{lesson,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByPrimaryKeyAndLowKeyAndTopic" parameterType="map">
    delete from source
    where cid = #{id,jdbcType=INTEGER} and lesson = #{lesson,jdbcType=INTEGER} and topic = #{topic,jdbcType=VARCHAR}
  </delete>
  <select id="selectByPrimaryKeyAndLowKeyAndTopic" parameterType="map" resultMap="BaseResultMap">
    select
    -- 是不是因为我选出来的不是LIST型？只是其中一个对象，所以他不会执行？
    <include refid="Base_Column_List" />
    from source
    where cid = #{id,jdbcType=INTEGER} and lesson = #{lesson,jdbcType=INTEGER} and topic = #{topic,jdbcType=VARCHAR}
  </select>
</mapper>